@charset "UTF-8";

@media (max-width: 768px) {
    .logos {
        flex-flow: column nowrap;
        margin: 100px auto 0 auto;
    }
    
    .logo-wrap {
        width: 33%;
        margin: 10px auto;
    } 
    
    .diferenciais {flex-flow: column nowrap;}
    
    .box-diferenciais {width: 100%;}

    .beneficios {flex-flow: column-reverse nowrap;}

    .beneficios-box,
    .img-notebook {width: 100%;}

    .beneficios-wraper h1 {text-align: center;}

    .btn-center {text-align: center;}
}

@media (min-width: 910px) {
    .menu-mobile {display: none;}
}

@media (max-width: 910px) {
    .menu-desktop {display: none;}
}