@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Raleway", sans-serif;
}

:root {
    --headingPadrao: 3em;
    --marginTopPadrao: 100px;
    --marginTopResponse: 50px;
}

.center {
    width: 100%;
    max-width: 1366px;
    padding: 0 2%;
    margin: 0 auto;
}

.main {
    height: auto;
    min-height: 768px;
    background: white url("../images/hero-background.png") no-repeat scroll center;
    background-size: cover;
    padding-block: 40px 20px;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-mobile img {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}

.menu-mobile img:hover {background-color: #0F3FD3;}

.menu-desktop a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 20px;
    padding: 8px;
}

.contact-btn {
    background-color: #0F3FD3;
    padding: 16px !important;
    border-radius: 15px;
}

.mockup {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.mockup h1 {
    color: white;
    font-size: var(--headingPadrao);
    font-weight: 300;
}

.mockup p {
    color: white;
    font-size: 1.2em;
    margin-block: 20px 40px;
}

.mockup img {width: 66%;}

.logos {
    display: flex;
    flex-flow: row nowrap;
    margin: 100px auto 0 auto;
}

.logo-wrap {
    width: 100%;
    margin: 0 10px;
}

.logos img {width: 100%;}

.por-que-nos {
    width: 100%;
    max-width: 1366px;
    margin: 120px auto 0 auto;
}

.por-que-nos h1 {
    text-align: center;
    font-size: var(--headingPadrao);
}

.por-que-nos > p {
    margin-top: 20px;
    text-align: center;
    color: #7E92AC;
    font-size: 1.2em;
}

.diferenciais {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 20px;
    margin-top: var(--marginTopPadrao);
}

.box-diferenciais {
    width: 33.3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 40px;
    text-align: left;
}

.box-container {word-wrap: break-word;}

.box-container p {
    margin-top: 20px;
    color: #7E92AC;
    line-height: 1.5em;
}

.cta {
    text-align: center;
    background-image: linear-gradient(to bottom, #0F3FD3, #255AFF );
    padding-block: 60px;
    margin-top: var(--marginTopPadrao);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cta h1 {
    font-size: var(--headingPadrao);
    font-weight: normal;
    color: white;
}

.cta p {
    margin-top: 20px;
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.cta button {
    font-size: 0.9em;
    font-weight: bold;
    padding: 16px 35px;
    margin-top: 30px;
    border-radius: 10px;
    text-transform: uppercase;
    color: #0F3FD3;
    background-color: #FFDD33;
    border: 1px solid #FFDD33;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.cta button:hover {
    background-color: #0F3FD3;
    color: #FFDD33;
}

.beneficios {
    display: flex;
    flex-flow: row nowrap;
    margin-top: var(--marginTopPadrao);
}

.beneficios-box {
    display: flex;
    justify-content: center;
    width: 50%;
}

.beneficios-wraper {width: 80%;}

.beneficios-wraper h1 {font-size: var(--headingPadrao);}

.img-p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 30px;
}

.img-p img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.img-p p {
    font-size: 0.9em;
    color: #7E92AC;
}

.beneficios-wraper button {
    font-size: 0.9em;
    font-weight: bold;
    padding: 16px 35px;
    margin-top: 30px;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
    background-color: #0F3FD3;
    border: 1px solid #0F3FD3;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.beneficios-wraper button:hover {
    background-color: white;
    color: #0F3FD3;
}

.img-notebook {
    display: flex;
    align-items: center;
    width: 50%;
}

.img-wraper img {width: 100%;}

.depoimentos {
    margin-top: var(--marginTopPadrao);
    background-color: #FBFCFE;
    padding-block: 100px;
}

.depoimentos h1 {
    font-size: var(--headingPadrao);
    text-align: center;
}

.container-depoimentos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 20px;
    width: 90%;
    text-align: center;
    margin: 80px auto 0 auto;
}

.container-depoimentos p,
.container-depoimentos a {
    color: #7E92AC;
    margin-top: 15px;
    font-size: 0.9em;
    line-height: 1.5em;
    text-decoration: none;
}

.box-depoimento {
    background-color: white;
    box-shadow: 8px 8px 10px #70707016;
    padding: 40px;
    border-radius: 20px;
}

.box-depoimento h2{
    margin-block: 20px 8px;
    font-weight: normal;
}

.rate {margin-top: 30px;}

.slide {
    text-align: center;
    margin-top: 60px;
}

.slide span {
    width: 20px;
    height: 20px;
    background-color: #D2D8EB;
    border-radius: 50%;
}

.form {
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0 auto;
}

.form h1 {
    font-size: var(--headingPadrao);
    text-align: center;
    margin-bottom: 50px;
}

.form label {padding-left: 5px;}

.form input[type=text],
.form input[type=email] {
    width: 100%;
    height: 45px;
    border: 1px solid #C3CCE8;
    border-radius: 6px;
    outline: 0;
    text-indent: 1em;
    margin-block: 3px 20px;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
}

.form textarea {
    resize: none;
    width: 100%;
    height: 200px;
    border: 1px solid #C3CCE8;
    border-radius: 6px;
    outline: 0;
    margin-block: 3px 20px;
    font-size: 1em;
    padding: 1em;
    font-family: "Raleway", sans-serif;
}

.form input[type=submit] {
    width: 100%;
    background-color: #255AFF;
    color: white;
    border: 1px solid #255AFF;
    padding-block: 16px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 0.9em;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.form input[type=submit]:hover {
    background-color: white;
    color: #255AFF;
}

footer {
    margin-top: var(--marginTopPadrao);
    background-color: #255AFF;
    display: flex;
    flex-flow: row nowrap;
    padding: 40px 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.footer-description {
    align-content: center;
    width: 50%;
    color: white;
    text-align: center;
}

.menu-footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
    width: 50%;
}

.menu-footer a {
    align-content: center;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    margin-left: 8px;
    padding: 8px;
}

.contact-btn-f {
    background-color: #0F3FD3;
    padding: 12px !important;
    border-radius: 12px;
}